body{
  display: flex;
  flex-direction: row;
}
.per_info{
    background-color: blueviolet;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
}

.info_choices {
    justify-content: flex-start;
    align-self: center;
  }

.side_steps{
  background-color: blue;
    background-image: url("graphic.png");
    border-image:fill;
    width: 300px;
    height: 900px;
    margin-top: 30px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.step_num {
    align-self: center;
}
.title_info {
  background-color: aqua;
  /* width: 700px;
  height: 30%; */
  display: flex;
  justify-content: center;
}

.text{
  justify-content: center;
  border-image-width: fill;
 height: fill;
}